doctype html
html
    head
        title= title
    body
        h1 Hello World
        form(action='/save' method='POST')
            input#token(
                type='hidden'
                name='_csrf'
                value= tokens
            )
            input#name(
                type='text'
                name='name'
                value= message
            )
            input(
                type='submit'
                value='OK'
            )
    script(src='./static/src/jquery-3.1.1.min.js')
    script(src='./static/node_modules/socket.io-client/socket.io.js')
    script(src='./static/src/main.js')
